.proyects{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 50px;
    max-width: 1200px;
    margin: 0 auto;
}

.proyects h2{
    margin-bottom: 50px;
    font-size: xx-large;
}

.card{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    align-items: center;
    border-radius: 50px;
    padding: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.card p{
    width: 100%;
}

.card img{
    width: calc(450px * 4/3);
    max-height: 300px;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.containerCard{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.skills{
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 0.5fr;
    gap: 10px;
    justify-content: center;
}

.skills span{
    padding: 0 2rem;
    border-radius: 1.5rem;
    background-size: 400%;
    border: none;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}

.repositorio {
    position: relative;
    margin: auto;
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
    cursor: pointer;
}

.repositorio:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: #E1D7C6;
    width: 45px;
    height: 45px;
    transition: all 0.3s ease;
}

.repositorio span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.05em;
}

.repositorio svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
}

.repositorio:hover:before {
    width: 100%;
}

.repositorio:hover svg {
    transform: translateX(0);
}

.repositorio:active {
    transform: scale(0.95);
}

@media screen and (max-width: 1090px){
    .card{
        display: flex;
        flex-direction: column;
    }
}
@media screen and (max-width: 600px){
    .card img{
        width: 100%;
    }
    .skills{
        display: grid;
        grid-template-columns: 0.5fr 0.5fr;
    }
}
