.containerContact{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 100px;
}

.containerContact h2{
        margin-bottom: 50px;
        font-size: xx-large;
}

.containerRedes{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 10px;
    border-radius: 30px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.339), 0 4px 6px -4px rgba(0, 0, 0, 0);
    box-sizing: border-box;
}

.containerRedes > div{
    display: flex;
    gap: 30px;
}

.containerRedes > div img{
    width: 50px;
}

